Repository pywemo/pywemo: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-lock-check, bootstrap-requirements, flake8, pylint, mypy, rstcheck

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        language: system
        entry: poetry check
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock)$

      - id: poetry-lock-check
        name: poetry-lock-check
        language: system
        entry: poetry lock
        args: ['--no-update']
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock)$

      - id: bootstrap-requirements
        name: bootstrap-requirements
        language: system
        entry: poetry export
        args:
          - --only=bootstrap
          - --format=requirements.txt
          - --output=scripts/bootstrap-requirements.txt
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock|scripts/bootstrap-requirements.txt)$

      - id: isort
        name: isort
        language: system
        entry: poetry run isort
        args: ['--check-only', '--filter-files']
        require_serial: true
        types_or: [cython, pyi, python]

      - id: black
        name: black
        language: system
        entry: poetry run black
        args: ['--check']
        require_serial: true
        types_or: [python, pyi]

      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        require_serial: true
        types: [python]

      - id: pylint
        name: pylint
        language: system
        entry: poetry run pylint
        args: ['--disable=fixme']
        require_serial: true
        types: [python]
        exclude: tests/

      - id: mypy
        name: mypy
        language: system
        entry: poetry run mypy
        require_serial: true
        types: [python]

      - id: rstcheck
        name: rstcheck
        language: system
        entry: poetry run rstcheck
        types: [rst]

Pin GitHub workflow actions using SHA1 git hashes
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

Disable entity expansion in lxml
  pywemo/ouimeaux_device/api/attributes.py
  pywemo/ouimeaux_device/api/service.py
  pywemo/ouimeaux_device/api/xsd_types.py
  pywemo/ouimeaux_device/bridge.py
  pywemo/subscribe.py
Due: flake8, pylint, mypy

Use relative path tobootstrap-requirements.txt
  scripts/common.sh
Due: none

Avoid Dependabot modifying bootstrap-requirements directly
  .pre-commit-config.yaml
  scripts/bootstrap-requirements.txt_
  scripts/common.sh
  scripts/update_deps.sh
Due: none

Avoid simultaneous write file handles
  pywemo/ouimeaux_device/api/rules_db.py
  tests/ouimeaux_device/api/unit/long_press_helpers.py
  tests/ouimeaux_device/api/unit/test_long_press.py
  tests/ouimeaux_device/api/unit/test_rules.py
Due: flake8, pylint, mypy

Pin GitHub workflow actions using SHA1 git hashes (#383)
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

Update and lock Poetry version (#382)
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  scripts/bootstrap-requirements.txt_
  scripts/build.sh
  scripts/common.sh
  scripts/update_deps.sh
Due: poetry-check, poetry-lock-check, bootstrap-requirements

Add deptry checks
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements

Add StringIO and generatedssupersuper too
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements

Nit: Move deptry above pre-commit
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements

Deprecation: Remove unused ssdp.UPNPEntry properties/methods (#381)
  pywemo/ssdp.py
Due: flake8, pylint, mypy

Deprecation: Remove pywemo.util.etree_to_dict
  pywemo/util.py
Due: flake8, pylint, mypy

Periodically update GitHub Action versions
  .github/dependabot.yml
Due: none

Use poetry-pre-commit-plugin to install git pre-commit hooks
  poetry.lock
  pyproject.toml
  scripts/build.sh
Due: poetry-check, poetry-lock-check, bootstrap-requirements

Add a test for the explain method
  tests/ouimeaux_device/test_device.py
Due: flake8, mypy

Refactor publish workflow into small jobs
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

Use a script to run generateDS from pre-commit
  .pre-commit-config.yaml
  pywemo/ouimeaux_device/api/xsd/device.py
  pywemo/ouimeaux_device/api/xsd/service.py
  scripts/generate_ds.py
Due: flake8, pylint, mypy

Use a script to run generateDS from pre-commit (#376)
  .pre-commit-config.yaml
  pywemo/ouimeaux_device/api/xsd/device.py
  pywemo/ouimeaux_device/api/xsd/service.py
  scripts/generate_ds.py
Due: flake8, pylint, mypy

Use pre-commit for code checks in build.sh
  .github/workflows/build.yml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/build.sh
  setup.cfg
Due: poetry-check, poetry-lock-check, bootstrap-requirements

Archive any changes made during build
  .github/workflows/build.yml
Due: none

Point to the step that failed
  .github/workflows/build.yml
Due: none

Use always() and failure() to run steps after a failure
  .github/workflows/build.yml
Due: none

Diff from the GITHUB_SHA
  .github/workflows/build.yml
Due: none

Remove custom "exclude" for flake8 after #376
  .pre-commit-config.yaml
Due: none

Use pre-commit for code checks in build.sh (#375)
  .github/workflows/build.yml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/build.sh
  setup.cfg
Due: poetry-check, poetry-lock-check, bootstrap-requirements

Add deptry checks (#387)
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements

Pin actions/upload-artifact to 3cea5372237819ed00197afe530f5a7ea3e805c8
  .github/workflows/build.yml
Due: none

Pin actions/upload-artifact to 3cea5372237819ed00197afe530f5a7ea3e805c8 (#394)
  .github/workflows/build.yml
Due: none

Push modified files as a commit on a PR
  .github/workflows/push-build-changes.yml
Due: none

Use the pyWeMo-bot environment
  .github/workflows/push-build-changes.yml
Due: none

Allow pre-commit to run all checks event if one fails
  .pre-commit-config.yaml
Due: none

Add a warning to the code checkout
  .github/workflows/push-build-changes.yml
Due: none

Disable entity expansion in lxml (#384)
  pywemo/ouimeaux_device/api/attributes.py
  pywemo/ouimeaux_device/api/service.py
  pywemo/ouimeaux_device/api/xsd_types.py
  pywemo/ouimeaux_device/bridge.py
  pywemo/subscribe.py
Due: flake8, pylint, mypy

Refactor publish workflow into small jobs (#393)
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

Push modified files as a commit on a PR (#395)
  .github/workflows/build.yml
  .github/workflows/push-build-changes.yml
  .pre-commit-config.yaml
Due: none

Periodically update GitHub Action versions (#389)
  .github/dependabot.yml
Due: none

Deprecation: Remove pywemo.util.etree_to_dict (#388)
  pywemo/util.py
Due: flake8, pylint, mypy

Avoid simultaneous write file handles (#386)
  pywemo/ouimeaux_device/api/rules_db.py
  tests/ouimeaux_device/api/unit/long_press_helpers.py
  tests/ouimeaux_device/api/unit/test_long_press.py
  tests/ouimeaux_device/api/unit/test_rules.py
Due: flake8, pylint, mypy
