Repository pywemo/pywemo: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, bootstrap-requirements, generateDS, pylint, rstcheck, deptry

poetry-check:
  name: poetry-check
  language: system
  entry: poetry check
  pass_filenames: false

bootstrap-requirements:
  name: bootstrap-requirements
  language: system
  entry: poetry export
  args:
  - --only=bootstrap
  - --format=requirements.txt
  - --output=scripts/bootstrap-requirements.txt_
  pass_filenames: false

generateDS:
  name: generateDS
  language: system
  entry: python scripts/generate_ds.py
  args:
  - pywemo/ouimeaux_device/api/xsd/device.xsd
  - pywemo/ouimeaux_device/api/xsd/service.xsd
  pass_filenames: false

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --disable=fixme
  require_serial: true

rstcheck:
  name: rstcheck
  language: system
  entry: rstcheck

deptry:
  name: deptry
  language: system
  entry: deptry .
  pass_filenames: false

Add back in some apt-get installations
  .clusterfuzzlite/Dockerfile
Due: none

try moving lxml out of instrument_imports
  tests/test_registry_notify_fuzz.py
Due: pylint, deptry

undo last change
  tests/test_registry_notify_fuzz.py
Due: pylint, deptry

Remove LD_PRELOAD
  .clusterfuzzlite/build.sh
Due: none

README updates
  README.rst
Due: rstcheck

Update readme (#770)
  README.rst
Due: rstcheck

scorecard fix
  .github/workflows/scorecard.yml
Due: none

Try no requirements.txt
  .clusterfuzzlite/build.sh
Due: none

try2
  .clusterfuzzlite/build.sh
Due: none

try3
  .clusterfuzzlite/build.sh
Due: none

Add versions, but no requirements file
  .clusterfuzzlite/build.sh
  .clusterfuzzlite/requirements.txt
Due: none

Create heater.py
  pywemo/ouimeaux_device/heater.py
Due: pylint, deptry

Update __init__.py
  pywemo/__init__.py
Due: pylint, deptry

Update discovery.py
  pywemo/discovery.py
Due: pylint, deptry

fix clusterfuzzlite (#768)
  .clusterfuzzlite/Dockerfile
  .clusterfuzzlite/build.sh
  .clusterfuzzlite/requirements.txt
  .github/workflows/scorecard.yml
Due: none

Revise setup notes and firmware support details
  README.rst
Due: rstcheck

Revise setup notes and firmware support details (#774)
  README.rst
Due: rstcheck

Enhance README with WeMo connectivity tips
  README.rst
Due: rstcheck

Enhance README with WeMo connectivity tips (#775)
  README.rst
Due: rstcheck

Revise Wemo product table in README
  README.rst
Due: rstcheck

Revise Wemo product table in README (#776)
  README.rst
Due: rstcheck

Update heater.py
  pywemo/ouimeaux_device/heater.py
Due: pylint, deptry

Add files via upload
  tests/test_heater.py
Due: pylint, deptry

Add binaryOption encryption method and overrides for setup
  README.rst
  pyproject.toml
  pywemo/ouimeaux_device/__init__.py
  tests/ouimeaux_device/test_device.py
Due: poetry-check, bootstrap-requirements, generateDS, pylint, rstcheck, deptry

Make method in chronological order instead
  pywemo/ouimeaux_device/__init__.py
  tests/ouimeaux_device/test_device.py
Due: pylint, deptry

Update test_heater.py
  tests/test_heater.py
Due: pylint, deptry

Update product status
  README.rst
Due: rstcheck

Update product status (#778)
  README.rst
Due: rstcheck

Common link
  README.rst
Due: rstcheck

Restore added firmware
  README.rst
Due: rstcheck

Use a single URL for common links in README (#779)
  README.rst
Due: rstcheck

Make new attributes underscored
  pywemo/ouimeaux_device/__init__.py
Due: pylint, deptry

Add more details to readme
  README.rst
Due: rstcheck

add_lengths
  pywemo/ouimeaux_device/__init__.py
Due: pylint, deptry

dedent code block
  README.rst
Due: rstcheck

Shorten setup so it fits without scrolling
  README.rst
Due: rstcheck

cap
  README.rst
Due: rstcheck

Improve setup (#780)
  README.rst
  pyproject.toml
  pywemo/ouimeaux_device/__init__.py
  tests/ouimeaux_device/test_device.py
Due: poetry-check, bootstrap-requirements, generateDS, pylint, rstcheck, deptry

Path conditions:
  poetry-check: any of: ^(pyproject.toml|poetry.lock)$
  bootstrap-requirements: any of: ^(pyproject.toml|poetry.lock|scripts/bootstrap-requirements.txt_)$
  generateDS: any of: ^(pyproject.toml|poetry.lock|scripts/generate_ds.py|pywemo/ouimeaux_device/api/xsd/.*)$
  pylint: any of: \.py$
  rstcheck: any of: \.rst$
  deptry: any of: \.py$
