Repository pywemo/pywemo: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, bootstrap-requirements, generateDS, pylint, rstcheck, deptry

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        language: system
        entry: poetry check
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock)$

      - id: bootstrap-requirements
        name: bootstrap-requirements
        language: system
        entry: poetry export
        args:
          - --only=bootstrap
          - --format=requirements.txt
          - --output=scripts/bootstrap-requirements.txt_
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock|scripts/bootstrap-requirements.txt_)$

      - id: generateDS
        name: generateDS
        language: system
        entry: python scripts/generate_ds.py
        args:
          - pywemo/ouimeaux_device/api/xsd/device.xsd
          - pywemo/ouimeaux_device/api/xsd/service.xsd
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock|scripts/generate_ds.py|pywemo/ouimeaux_device/api/xsd/.*)$

      - id: ruff-check
        name: ruff-check
        language: system
        entry: ruff check --force-exclude --fix
        require_serial: true
        types_or: [python, pyi]

      - id: ruff-format
        name: ruff-format
        language: system
        entry: ruff format --force-exclude
        require_serial: true
        types_or: [python, pyi]

      - id: pylint
        name: pylint
        language: system
        entry: pylint
        args: ['--disable=fixme']
        require_serial: true
        types: [python]

      - id: mypy
        name: mypy
        language: system
        entry: mypy
        require_serial: true
        types_or: [python, pyi]
        # By default mypy will prefer .pyi files to py files if both are found
        # While traversing a directory. However mypy will fail if
        # both wemo_services.py & wemo_services.pyi are included in the
        # command line. wemo_services.py is excluded here and pyi files are
        # included in the types_or as a work-around. mypy also has an
        # 'exclude' option that can be placed in pyproject.toml, but similar
        # to flake8 above, any files passed on the command-line bypass
        # 'exclude'.
        exclude: pywemo/ouimeaux_device/api/wemo_services.py

      - id: rstcheck
        name: rstcheck
        language: system
        entry: rstcheck
        types: [rst]

      - id: deptry
        name: deptry
        language: system
        entry: deptry .
        pass_filenames: false
        types: [python]

Update documentation devices table
  pywemo/README.md
Due: none

troubleshooting
  README.rst
Due: rstcheck

Remove the product status table (moved to wiki) (#820)
  README.rst
  pywemo/README.md
Due: rstcheck

Remove OpenSSL from test_encryption doc string
  tests/ouimeaux_device/test_device.py
Due: pylint, deptry

Remove dependencies section of README.rst
  README.rst
Due: rstcheck

Use cryptography instead of OpenSSL (#818)
  README.rst
  poetry.lock
  pyproject.toml
  pywemo/ouimeaux_device/__init__.py
  pywemo/ouimeaux_device/api/wifi_setup.py
  tests/ouimeaux_device/api/unit/test_wifi_setup.py
  tests/ouimeaux_device/test_device.py
Due: poetry-check, bootstrap-requirements, generateDS, pylint, rstcheck, deptry

Bump pyWeMo to version 2.1.0
  pyproject.toml
Due: poetry-check, bootstrap-requirements, generateDS

Bump pyWeMo to version 2.1.0 (#821)
  pyproject.toml
Due: poetry-check, bootstrap-requirements, generateDS

Use encrypt method 1 with iot (#819)
  pywemo/ouimeaux_device/__init__.py
Due: pylint, deptry

Bump pyWeMo version to 2.1.1
  pyproject.toml
Due: poetry-check, bootstrap-requirements, generateDS

Bump pyWeMo version to 2.1.1 (#828)
  pyproject.toml
Due: poetry-check, bootstrap-requirements, generateDS

Add URL metadata to the project file
  pyproject.toml
Due: poetry-check, bootstrap-requirements, generateDS

Add URL metadata to the project file (#829)
  pyproject.toml
Due: poetry-check, bootstrap-requirements, generateDS

Fix WeMo Link discovery with no bulbs attached
  pywemo/ouimeaux_device/bridge.py
Due: pylint, deptry

Version 2.1.2
  pyproject.toml
Due: poetry-check, bootstrap-requirements, generateDS

Fix WeMo Link discovery with no bulbs attached (#840)
  pywemo/ouimeaux_device/bridge.py
Due: pylint, deptry

Version 2.1.2 (#841)
  pyproject.toml
Due: poetry-check, bootstrap-requirements, generateDS

Update README.rst
  README.rst
Due: rstcheck

Add WeMo Heater (F7C047) device support
  pywemo/__init__.py
  pywemo/discovery.py
  pywemo/ouimeaux_device/heater.py
  tests/test_heater.py
Due: pylint, deptry

Fix heater tests: add VCR cassettes, move test to correct location, fix discovery ordering
  pywemo/discovery.py
  tests/ouimeaux_device/test_heater.py
  tests/vcr/tests.ouimeaux_device.test_heater/heater_setup.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_complete_workflow.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_get_state.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_get_state_force_update.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_heating_status.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_mode_persistence.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_mode_by_string.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_mode_eco.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_mode_frostprotect.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_mode_high.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_mode_low.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_target_temperature_celsius.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_target_temperature_range.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_target_temperature_rounds.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_temperature_celsius_to_fahrenheit_conversion.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_temperature_range.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_temperature_reading.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_turn_on.yaml
Due: pylint, deptry

Fix target_temperature returning Fahrenheit instead of Celsius
  pywemo/ouimeaux_device/heater.py
Due: pylint, deptry

mypy fix
  pywemo/discovery.py
Due: pylint, deptry

update poetry
  poetry.lock
  scripts/bootstrap-requirements.txt_
Due: poetry-check, bootstrap-requirements, generateDS

show device selection in first example
  README.rst
Due: rstcheck

Ignore CPY001
  pyproject.toml
  tests/ouimeaux_device/test_maker.py
Due: poetry-check, bootstrap-requirements, generateDS, pylint, deptry

Round target_temperature to 1 decimal place and delete VCR cassettes
  pywemo/ouimeaux_device/heater.py
  tests/ouimeaux_device/test_heater.py
  tests/vcr/tests.ouimeaux_device.test_heater/heater_setup.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_complete_workflow.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_get_state.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_get_state_force_update.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_heating_status.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_mode_persistence.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_mode_by_string.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_mode_eco.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_mode_frostprotect.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_mode_high.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_mode_low.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_target_temperature_celsius.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_target_temperature_range.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_target_temperature_rounds.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_temperature_celsius_to_fahrenheit_conversion.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_temperature_range.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_temperature_reading.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_turn_on.yaml
Due: pylint, deptry

Fix temperature conversion using >50 heuristic
  pywemo/ouimeaux_device/heater.py
Due: pylint, deptry

Add VCR cassettes for heater integration tests
  tests/ouimeaux_device/test_heater.py
  tests/vcr/tests.ouimeaux_device.test_heater/heater_setup.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_auto_off_time.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_complete_workflow.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_get_state.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_get_state_force_update.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_heating_status.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_mode_persistence.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_repr.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_auto_off_time.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_mode_by_string.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_mode_eco.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_mode_frostprotect.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_mode_high.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_mode_low.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_target_temperature_celsius.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_target_temperature_range.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_target_temperature_rounds.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_temperature_unit.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_temperature_celsius_to_fahrenheit_conversion.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_temperature_range.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_temperature_reading.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_temperature_unit_celsius.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_time_remaining.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_turn_on.yaml
Due: pylint, deptry

Update precision tests with real hardware findings
  tests/ouimeaux_device/test_heater.py
  tests/vcr/tests.ouimeaux_device.test_heater/test_temperature_precision_celsius.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_temperature_precision_fahrenheit_response.yaml
Due: pylint, deptry

Replace 2 precision tests with 5 per-row tests per review
  tests/ouimeaux_device/test_heater.py
  tests/vcr/tests.ouimeaux_device.test_heater/test_precision_fahrenheit_return.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_precision_half_degree.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_precision_many_decimals.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_precision_whole_degree_23.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_precision_whole_degree_24.yaml
Due: pylint, deptry

Change temperature rounding from 1 decimal to integer precision
  pywemo/ouimeaux_device/heater.py
  tests/ouimeaux_device/test_heater.py
Due: pylint, deptry

Round Fahrenheit input to integer in F mode before sending
  pywemo/ouimeaux_device/heater.py
Due: pylint, deptry

Remove set_temperature_unit() — TempUnit is read-only via API
  pywemo/ouimeaux_device/heater.py
  tests/ouimeaux_device/test_heater.py
  tests/vcr/tests.ouimeaux_device.test_heater/test_precision_fahrenheit_return.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_precision_half_degree.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_precision_many_decimals.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_precision_whole_degree_23.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_precision_whole_degree_24.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_temperature_unit.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_temperature_celsius_to_fahrenheit_conversion.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_temperature_range.yaml
Due: pylint, deptry

Add local Windows WeMo Wi-Fi setup with diagnostics and encoding fallback
  .gitignore
  scripts/setup_wifi.py
  wemo-setup.example.json
Due: pylint, deptry

Add documented batch provisioning and explain setup workflow
  README.rst
  scripts/setup_all_wifi.py
  scripts/setup_wifi.py
Due: pylint, rstcheck, deptry

Move Windows setup into step-by-step guide and align script lint
  README.rst
  docs/windows-wifi-setup.md
  scripts/setup_all_wifi.py
  scripts/setup_wifi.py
Due: pylint, rstcheck, deptry

Document observed Wi-Fi setup errors and confirmed workarounds
  docs/windows-wifi-setup.md
Due: none

added heater support (#772)
  pywemo/__init__.py
  pywemo/discovery.py
  pywemo/ouimeaux_device/heater.py
  tests/ouimeaux_device/test_heater.py
  tests/vcr/tests.ouimeaux_device.test_heater/heater_setup.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_auto_off_time.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_complete_workflow.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_get_state.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_get_state_force_update.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_heating_status.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_mode_persistence.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_precision_fahrenheit_return.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_precision_half_degree.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_precision_many_decimals.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_precision_whole_degree_23.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_precision_whole_degree_24.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_repr.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_auto_off_time.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_mode_by_string.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_mode_eco.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_mode_frostprotect.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_mode_high.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_mode_low.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_target_temperature_celsius.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_target_temperature_range.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_set_target_temperature_rounds.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_temperature_celsius_to_fahrenheit_conversion.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_temperature_range.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_temperature_reading.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_temperature_unit_celsius.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_time_remaining.yaml
  tests/vcr/tests.ouimeaux_device.test_heater/test_turn_on.yaml
Due: pylint, deptry

Setup method 3 fix
  pywemo/ouimeaux_device/__init__.py
Due: pylint, deptry

test fix
  tests/ouimeaux_device/test_device.py
Due: pylint, deptry
