Repository pywemo/pywemo: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS, flake8, pylint, rstcheck

poetry-check:
  name: poetry-check
  language: system
  entry: poetry check
  pass_filenames: false

poetry-lock-check:
  name: poetry-lock-check
  language: system
  entry: poetry lock
  args:
  - --no-update
  pass_filenames: false

bootstrap-requirements:
  name: bootstrap-requirements
  language: system
  entry: poetry export
  args:
  - --only=bootstrap
  - --format=requirements.txt
  - --output=scripts/bootstrap-requirements.txt_
  pass_filenames: false

generateDS:
  name: generateDS
  language: system
  entry: poetry run python scripts/generate_ds.py
  args:
  - pywemo/ouimeaux_device/api/xsd/device.xsd
  - pywemo/ouimeaux_device/api/xsd/service.xsd
  pass_filenames: false

flake8:
  name: flake8
  language: system
  entry: poetry run flake8
  require_serial: true

pylint:
  name: pylint
  language: system
  entry: poetry run pylint
  args:
  - --disable=fixme
  require_serial: true

rstcheck:
  name: rstcheck
  language: system
  entry: poetry run rstcheck

Add a test for the explain method (#391)
  tests/ouimeaux_device/test_device.py
Due: flake8, pylint

Add test for util.interface_addresses (#392)
  tests/test_util.py
Due: flake8, pylint

Limit running workflows
  .github/workflows/build.yml
  .github/workflows/push-build-changes.yml
  .github/workflows/scorecard.yml
Due: none

Check for updates to Poetry dependencies every week
  .github/dependabot.yml
Due: none

Limit running workflows (#401)
  .github/workflows/build.yml
  .github/workflows/push-build-changes.yml
  .github/workflows/scorecard.yml
Due: none

Check for updates to Poetry dependencies every week (#402)
  .github/dependabot.yml
Due: none

Generate SLSA L3 provenance for releases
  .github/workflows/publish.yml
Due: none

Update mypy config
  pyproject.toml
  setup.cfg
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Close the subscription http server port when stopping
  pywemo/subscribe.py
Due: flake8, pylint

Update mypy config (#411)
  pyproject.toml
  setup.cfg
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Add test
  tests/test_subscribe.py
Due: flake8, pylint

Close the SubscriptionRegistry http server port when stopping (#412)
  pywemo/subscribe.py
  tests/test_subscribe.py
Due: flake8, pylint

Run pre-commit via a script to activate the venv
  scripts/build.sh
  scripts/pre-commit.sh
Due: none

Always run pre-commit inside the venv
  scripts/build.sh
Due: none

Add quotes around paths
  scripts/build.sh
Due: none

Remove "poetry run" before pre-commit entries
  .pre-commit-config.yaml
Due: none

Cross-platform environment variable joins
  scripts/build.sh
Due: none

Always run pre-commit inside the venv (#418)
  .pre-commit-config.yaml
  scripts/build.sh
Due: none

Add MacOS & Windows tests
  .github/workflows/build.yml
Due: none

Git Bash support for Windows and related updates
  .gitattributes
  .github/workflows/build.yml
  .github/workflows/publish.yml
  pyproject.toml
  pywemo/ouimeaux_device/api/xsd/device.py
  pywemo/ouimeaux_device/api/xsd/service.py
  scripts/build.sh
  scripts/common.sh
  scripts/generate_ds.py
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS, flake8, pylint

Generate SLSA L3 provenance for releases (#408)
  .github/workflows/publish.yml
Due: none

Add MacOS & Windows tests (#410)
  .gitattributes
  .github/workflows/build.yml
  .github/workflows/publish.yml
  pyproject.toml
  pywemo/ouimeaux_device/api/xsd/device.py
  pywemo/ouimeaux_device/api/xsd/service.py
  scripts/build.sh
  scripts/common.sh
  scripts/generate_ds.py
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS, flake8, pylint

Generate common release notes text from a template
  .github/RELEASE_NOTES_TEMPLATE.md
  .github/workflows/publish.yml
Due: none

Generate common release notes text from a template (#409)
  .github/RELEASE_NOTES_TEMPLATE.md
  .github/workflows/publish.yml
Due: none

Enable GitHub Action caching for pip/poetry downloads
  .github/workflows/build.yml
Due: none

No restore for main branch
  .github/workflows/build.yml
Due: none

No newline at the end of restore-keys
  .github/workflows/build.yml
Due: none

Optimize away the format expression
  .github/workflows/build.yml
Due: none

Enable GitHub Action caching for pip/poetry downloads (#419)
  .github/workflows/build.yml
Due: none

Sanity check meta info strings
  pywemo/util.py
Due: flake8, pylint

Sanity check subscription attributes
  pywemo/ouimeaux_device/api/attributes.py
  pywemo/ouimeaux_device/bridge.py
  pywemo/ouimeaux_device/insight.py
  pywemo/subscribe.py
Due: flake8, pylint

Test encrypt_aes218 with hypothesis
  .gitignore
  poetry.lock
  pyproject.toml
  tests/ouimeaux_device/test_device.py
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS, flake8, pylint

Add hypothesis tests for subscription notifications
  tests/test_registry_notify_fuzz.py
Due: flake8, pylint

registry fixture should have module scope in test_registry_notify_fuzz
  tests/test_registry_notify_fuzz.py
Due: flake8, pylint

Test with unprintable characters (backspace)
  tests/test_util.py
Due: flake8, pylint

Include attributeList in more test cases
  tests/test_registry_notify_fuzz.py
Due: flake8, pylint

Group hypothesis with testing dependencies
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Handle invalid data received from device (#420)
  .gitignore
  poetry.lock
  pyproject.toml
  pywemo/ouimeaux_device/api/attributes.py
  pywemo/ouimeaux_device/bridge.py
  pywemo/ouimeaux_device/insight.py
  pywemo/subscribe.py
  pywemo/util.py
  tests/ouimeaux_device/test_device.py
  tests/test_registry_notify_fuzz.py
  tests/test_util.py
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS, flake8, pylint

None is valid for type_filter in SubscriptionRegistry.on
  pywemo/subscribe.py
Due: flake8, pylint

Path conditions:
  poetry-check: any of: ^(pyproject.toml|poetry.lock)$
  poetry-lock-check: any of: ^(pyproject.toml|poetry.lock)$
  bootstrap-requirements: any of: ^(pyproject.toml|poetry.lock|scripts/bootstrap-requirements.txt_)$
  generateDS: any of: ^(pyproject.toml|poetry.lock|scripts/generate_ds.py|pywemo/ouimeaux_device/api/xsd/.*)$
  flake8: any of: \.py$, but not: pywemo/ouimeaux_device/api/xsd/
  pylint: any of: \.py$
  rstcheck: any of: \.rst$
