Repository pywemo/pywemo: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, bootstrap-requirements, generateDS, pylint, rstcheck, deptry

poetry-check:
  name: poetry-check
  language: system
  entry: poetry check
  pass_filenames: false

bootstrap-requirements:
  name: bootstrap-requirements
  language: system
  entry: poetry export
  args:
  - --only=bootstrap
  - --format=requirements.txt
  - --output=scripts/bootstrap-requirements.txt_
  pass_filenames: false

generateDS:
  name: generateDS
  language: system
  entry: python scripts/generate_ds.py
  args:
  - pywemo/ouimeaux_device/api/xsd/device.xsd
  - pywemo/ouimeaux_device/api/xsd/service.xsd
  pass_filenames: false

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --disable=fixme
  require_serial: true

rstcheck:
  name: rstcheck
  language: system
  entry: rstcheck

deptry:
  name: deptry
  language: system
  entry: deptry .
  pass_filenames: false

Raise exception when Wemo reports Unknown authorization mode
  pywemo/ouimeaux_device/__init__.py
Due: pylint, deptry

Raise exception when Wemo reports Unknown authorization mode (#788)
  pywemo/ouimeaux_device/__init__.py
Due: pylint, deptry

Fix action for docs caching
  .github/workflows/docs.yml
Due: none

Fix action for docs caching (#805)
  .github/workflows/docs.yml
Due: none

Bump sigstore/gh-action-sigstore-python to v3.2.0
  .github/workflows/publish.yml
Due: none

Bump sigstore/gh-action-sigstore-python to v3.2.0 (#806)
  .github/workflows/publish.yml
Due: none

Pin github action versions
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/publish.yml
  .github/workflows/push-build-changes.yml
  .github/workflows/scorecard.yml
Due: none

Pin github action versions (#807)
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/publish.yml
  .github/workflows/push-build-changes.yml
  .github/workflows/scorecard.yml
Due: none

Fix sigstore .json paths
  .github/RELEASE_NOTES_TEMPLATE.md
  .github/workflows/publish.yml
Due: none

Fix docs action after #807
  .github/workflows/docs.yml
Due: none

Fix sigstore .json paths (#808)
  .github/RELEASE_NOTES_TEMPLATE.md
  .github/workflows/publish.yml
Due: none

Fix docs action after #807 (#809)
  .github/workflows/docs.yml
Due: none

Fix docs action after #807 (#810)
  .github/workflows/docs.yml
Due: none

Update dependencies
  poetry.lock
  scripts/bootstrap-requirements.txt_
Due: poetry-check, bootstrap-requirements, generateDS

Remove EOL Python version support
  .github/workflows/build.yml
  .github/workflows/publish.yml
  poetry.lock
  pyproject.toml
  scripts/bootstrap-requirements.txt_
Due: poetry-check, bootstrap-requirements, generateDS

Updates
  poetry.lock
  pywemo/color.py
  pywemo/ouimeaux_device/api/rules_db.py
  pywemo/ouimeaux_device/api/service.py
  pywemo/ouimeaux_device/bridge.py
Due: poetry-check, bootstrap-requirements, generateDS, pylint, deptry

Windows/macOS use 3.10
  .github/workflows/build.yml
Due: none

Revert BaseHTTPResponse change
  pywemo/ouimeaux_device/api/service.py
Due: pylint, deptry

Remove EOL Python version 3.9 support (#812)
  .github/workflows/build.yml
  .github/workflows/publish.yml
  poetry.lock
  pyproject.toml
  pywemo/color.py
  pywemo/ouimeaux_device/api/rules_db.py
  pywemo/ouimeaux_device/bridge.py
  scripts/bootstrap-requirements.txt_
Due: poetry-check, bootstrap-requirements, generateDS, pylint, deptry

Add builds for Python 3.13 & 3.14
  .github/workflows/build.yml
Due: none

Remove 3.14
  .github/workflows/build.yml
Due: none

Add builds for Python 3.13 (#813)
  .github/workflows/build.yml
Due: none

2.0.0 release
  pyproject.toml
Due: poetry-check, bootstrap-requirements, generateDS

2.0.0 release (#814)
  pyproject.toml
Due: poetry-check, bootstrap-requirements, generateDS

Disable sigstore release-signing-artifacts
  .github/workflows/publish.yml
  README.rst
Due: rstcheck

Disable sigstore release-signing-artifacts (#815)
  .github/workflows/publish.yml
  README.rst
Due: rstcheck

Update pylint to 4.0.4
  poetry.lock
  pyproject.toml
  pywemo/ssdp.py
Due: poetry-check, bootstrap-requirements, generateDS, pylint, deptry

Update pylint to 4.0.4 (#816)
  poetry.lock
  pyproject.toml
  pywemo/ssdp.py
Due: poetry-check, bootstrap-requirements, generateDS, pylint, deptry

Add action runners for Python 3.14
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

Also use 3.14 for coveralls
  .github/workflows/build.yml
Due: none

Add action runners for Python 3.14 (#817)
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

Use cryptography instead of OpenSSL
  poetry.lock
  pyproject.toml
  pywemo/ouimeaux_device/__init__.py
  pywemo/ouimeaux_device/api/wifi_setup.py
  tests/ouimeaux_device/api/unit/test_wifi_setup.py
  tests/ouimeaux_device/test_device.py
Due: poetry-check, bootstrap-requirements, generateDS, pylint, deptry

Update docs as well
  README.rst
  pywemo/ouimeaux_device/__init__.py
Due: pylint, rstcheck, deptry

Add coverage for method 3
  tests/ouimeaux_device/test_device.py
Due: pylint, deptry

Use encrypt method 1 with iot
  pywemo/ouimeaux_device/__init__.py
Due: pylint, deptry

Remove the product status table (moved to wiki)
  README.rst
Due: rstcheck

link fix
  README.rst
Due: rstcheck

README updates
  README.rst
Due: rstcheck

more updates
  README.rst
Due: rstcheck

Path conditions:
  poetry-check: any of: ^(pyproject.toml|poetry.lock)$
  bootstrap-requirements: any of: ^(pyproject.toml|poetry.lock|scripts/bootstrap-requirements.txt_)$
  generateDS: any of: ^(pyproject.toml|poetry.lock|scripts/generate_ds.py|pywemo/ouimeaux_device/api/xsd/.*)$
  pylint: any of: \.py$
  rstcheck: any of: \.rst$
  deptry: any of: \.py$
